<p id="notice"><%= notice %></p>

<div class="container-fluid">
  <h1>Listing Episodes</h1>

  <div>
    <%= render 'episode', obj: @episodes %>
  </div>

  <br>

  <%= link_to 'New Episode', new_episode_path %>

</div>
